<h3>Add New Comment:</h1>
<%= render 'layouts/error_messages' %>
<%= form_for [@resource, @comment], id: "new_comment" do |f| %>
  <%= render partial: 'comments/form', locals: {f: f} %>
  <%= f.submit %>
<% end %>
