<div class="form-group">
  <%= f.label "Name" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label "A little about the language" %>
  <%= f.text_area :description, class: "form-control" %>
</div>
