<h1><%= @language.name %></h1>

<p><%= @language.description %></p>

<h3>Resources:</h3>
<ul>
  <%= render partial: "/resources/display_resources", collection: @language.resources, as: :resource %>
</ul>
<%= button_to "Delete #{@language.name}", language_path(@language), method: "delete" %>
