<li><%= link_to resource.title, resource_path(resource) %>
  <ul>
    <% resource.languages.each do |language| %>
      <li><%= link_to language.name, language_path(language) %></li>
    <% end %>
  </ul>
</li>
