<h1>Your Resources</h1>
<ul>
  <% current_user.resources.each do |resource| %>
    <li><%= link_to resource.title, resource_path(resource) %> - <%= link_to "Link", resource.url %></li>
  <% end %>
</ul>
