// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, #main {
  padding-top: 40px;
  background: #282C34 !important;
}

#main {
  color: #9D9D9D;
}

#logged-in-header {
  margin-right: 5px;
}

h1.welcome.welcome-banner {
  font-size: 100px;
  background-color: #222222;
  border-radius: 15px;
}

h1.welcome.welcome-banner span.dif-text {
  color:white;
}

p.logged-out-message, p.logged-out-message a {
  font-size: 20px;
  text-decoration: none;
}

#flash_error, #flash_alert {
  color: #DD6C76;
}

div.field_with_errors input, div.field_with_errors textarea {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.resource_check_boxes input {
  display: block;
  float: left;
}

.resource_check_boxes label {
  display: block;
  float: right;
}
