a.glyphicon.glyphicon-link, a.tag.tag-links, a.lang.lang-links, a.user.user-link, a.resource.resource-links, .glyphicon.glyphicon-plus {
  text-decoration: none;
}

a.btn-space, input.btn-space {
    margin-bottom: 5px;
    border-color: black;
    background-color: #222222;
    color: #9D9D9D;
}

a.btn-space:hover {
  background-color: #9D9D9D;
  border-color: grey;
}

textarea.text-input-area {
  background-color: #222222;
  border-color: black;
  border-radius: 4px;
  color: #9D9D9D;
  width: 450px;
  height: 200px;
  resize: none;
}

div form div.form-group input, div form div.form-group textarea {
  background-color: #222222;
  border-color: black;
  color: #9D9D9D;
  resize: none;
}

div.col-md-3 {
  border-right: 1px solid #9D9D9D;
}

div.resource-links hr, div.col-md-9 hr {
  border-top: 1px solid #ccc;
}

form.delete-form {
  display: inline;
}

div.resource-comments ul.comments-list {
  background-color: #222222;
  border-radius: 15px;
}

ul.comments-list li {
  margin-left: 10px;
}
